.main-background-color{
    background-color: #fceae8;
}
.categories img{
    width: 100px;
}
.primary-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #ffffff;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.watch-bg{
    background: #ffa500;
}
.bag-bg{
    background: #da70d6;
}
.shoes-bg{
    background: #0000ff;
}